In [2677]:
import os
import pandas as pd

In [2678]:
os.chdir('C:/My Documents/Mokymai ir kt info/Python/10_Final_Project')
os.getcwd()

'C:\\My Documents\\Mokymai ir kt info\\Python\\10_Final_Project'

# Main GIS Table

In [2679]:
read_gis_file = pd.read_excel('GIS_DB/CS_GIS_DATA.xlsx')
read_gis_file.to_csv('GIS_DB/CS_GIS_DATA.csv', index = None, header = True)
df_gis = pd.read_csv('GIS_DB/CS_GIS_DATA.csv', parse_dates=['Start', 'Finish'])

In [2680]:
df_gis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    datetime64[ns]
 3   Finish                  112 non-null    datetime64[ns]
 4   At Completion Duration  112 non-null    int64
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.2+ KB

In [2681]:
df_gis.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA
2,A1330180,Name 3,2020-01-01,2020-01-01,433,CS6733,SCO.ROA
3,A1330190,Name 4,2020-01-01,2020-01-01,433,CS6672,SCO.ROA
4,A1330200,Name 5,2020-01-01,2020-01-01,433,CS6563,SCO.ROA

# Clean Weekly Data update table

In [2682]:
read_gis_file_update = pd.read_excel('Input/CS_Update_01_11_2021.xlsx', sheet_name= 1)
read_gis_file_update.to_csv('Input/CS_Update_01_11_2021.csv', index = None, header = True)
df_gis_update = pd.read_csv('Input/CS_Update_01_11_2021.csv')

In [2683]:
df_gis_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    object
 3   Finish                  112 non-null    object
 4   At Completion Duration  112 non-null    object
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: object(7)
memory usage: 6.2+ KB

In [2684]:
df_gis_update.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,13-Sep-22,31-May-24,433d,CS6992,SCO.ROA
1,A1330170,Name 2,13-Sep-22 A,31-May-24,433d,CS6881,SCO.ROA
2,A1330180,Name 3,02-Dec-21,22-Aug-23,433d,CS6733,SCO.ROA
3,A1330190,Name 4,02-Dec-21,22-Aug-23,433d,CS6672,SCO.ROA
4,A1330200,Name 5,04-Jan-23,23-Sep-24,433d,CS6563,SCO.ROA

In [2685]:
df_gis_update['Start'] = df_gis_update['Start'].str[:9]
df_gis_update['Finish'] = df_gis_update['Finish'].str[:9]
df_gis_update['At Completion Duration'] = df_gis_update['At Completion Duration'].str.replace('d','')

In [2686]:
df_gis_update.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,13-Sep-22,31-May-24,433,CS6992,SCO.ROA
1,A1330170,Name 2,13-Sep-22,31-May-24,433,CS6881,SCO.ROA
2,A1330180,Name 3,02-Dec-21,22-Aug-23,433,CS6733,SCO.ROA
3,A1330190,Name 4,02-Dec-21,22-Aug-23,433,CS6672,SCO.ROA
4,A1330200,Name 5,04-Jan-23,23-Sep-24,433,CS6563,SCO.ROA

In [2687]:
df_gis_update.to_csv('Input/CS_Update_01_11_2021.csv')

In [2688]:
df_gis_update = pd.read_csv('Input/CS_Update_01_11_2021.csv', parse_dates=['Start', 'Finish'])
df_gis_update.head()

,Unnamed: 0,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA
2,2,A1330180,Name 3,2021-12-02,2023-08-22,433,CS6733,SCO.ROA
3,3,A1330190,Name 4,2021-12-02,2023-08-22,433,CS6672,SCO.ROA
4,4,A1330200,Name 5,2023-01-04,2024-09-23,433,CS6563,SCO.ROA

In [2689]:
df_gis_update.drop('Unnamed: 0', axis='columns', inplace=True)

In [2690]:
df_gis_update.head(2)

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA

In [2691]:
df_gis_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    datetime64[ns]
 3   Finish                  112 non-null    datetime64[ns]
 4   At Completion Duration  112 non-null    int64
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.2+ KB

# Compare CSV's

In [2692]:
df_gis_update['act_cs_id'] = (df_gis_update['Activity ID'] +"/"+ df_gis_update['CS ID'])
df_gis['act_cs_id'] = (df_gis['Activity ID'] +"/"+ df_gis['CS ID'])

In [2693]:
df_gis_update.head(2)

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages,act_cs_id
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA,A1330160/CS6992
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA,A1330170/CS6881

In [2694]:
df_gis.head(2)

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages,act_cs_id
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA,A1330160/CS6992
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA,A1330170/CS6881

In [2695]:
updvsorg = df_gis_update[~df_gis_update.act_cs_id.isin(df_gis.act_cs_id)]
orgvsupd = df_gis[~df_gis.act_cs_id.isin(df_gis_update.act_cs_id)]
updvsorg

orgvsupd

Empty DataFrame
Columns: [Activity ID, Activity Name, Start, Finish, At Completion Duration, CS ID, Stages, act_cs_id]
Index: []

In [2696]:
def patikra(updvsorg, orgvsupd):
    updvsorg = df_gis_update[~df_gis_update.act_cs_id.isin(df_gis.act_cs_id)]
    orgvsupd = df_gis[~df_gis.act_cs_id.isin(df_gis_update.act_cs_id)]
    if df_gis_update.act_cs_id.nunique() == len(df_gis_update.act_cs_id):
        if updvsorg.empty and orgvsupd.empty:
            return f'ID kodai ir objektu skaicius abejose lentelese sutampa. Viso objektu yra {df_gis_update.act_cs_id.nunique()}. \
Duomenys tinkami atnaujinimui'
        elif len(updvsorg) > 0 and orgvsupd.empty:
            return f'ERROR: Rasti nauji objektai ({len(updvsorg)} vnt.), kuriu nera GIS DB. \n{updvsorg}'
        elif len(orgvsupd) > 0 and updvsorg.empty:
            return f'ERROR: Atnaujinamoje lenteleje truksta objektu esanciu GIS DB ({len(orgvsupd)} vnt.). \n{orgvsupd}'
        elif len(updvsorg) > 0 and len(orgvsupd) > 0:
            return f'ERROR: Galimos klaidos:Nnatitinka ID/atsirado nauju objektu/objektai istrinti. \n \
Objektai, kuriu nera GIS DB:\n {updvsorg}\n Objektai, kuriu nera atnaujinamoje lenteleje \n{orgvsupd}'
    else:
        return 'ERROR: ID reiksmes negali kartotis'

print (patikra(updvsorg, orgvsupd))

ID kodai ir objektu skaicius abejose lentelese sutampa. Viso objektu yra 112. Duomenys tinkami atnaujinimui

In [2697]:
#def patikra2(updvsorg, orgvsupd):
    updvsorg = df_gis_update[~df_gis_update.act_cs_id.isin(df_gis.act_cs_id)]
    orgvsupd = df_gis[~df_gis.act_cs_id.isin(df_gis_update.act_cs_id)]
    if df_gis_update.act_cs_id.nunique() == len(df_gis_update.act_cs_id):
        if updvsorg.empty and orgvsupd.empty:
            return f'ID kodai ir objektu skaicius abejose lentelese sutampa. Viso objektu yra {df_gis_update.act_cs_id.nunique()}. Duomenys tinkami atnaujinimui'
        elif len(updvsorg) > 0: # and orgvsupd.empty:
            if len(updvsorg) > 0 and len(orgvsupd) > 0:
                return f'ERROR: Neatitinka kodai esantys abejose lentelese. \n Atnaujinimu lentele:\n {updvsorg}\n GIS lentele \n{orgvsupd}'
            else:
                return f'ERROR: Rasti nauji objektai ({len(updvsorg)}). Detalus sarasas pateiktas zemiau \n{updvsorg}'
        elif len(orgvsupd) > 0 and updvsorg.empty:
            return f'ERROR: Truksta objektu ({len(orgvsupd)}). Detalus sarasas pateiktas zemiau \n{orgvsupd}'
        elif len(updvsorg) > 0 and len(orgvsupd) > 0:
            return f'ERROR: Neatitinka kodai esantys abejose lentelese. \n Atnaujinimu lentele:\n {updvsorg}\n GIS lentele \n{orgvsupd}'
    else:
        return 'ERROR: ID reiksmes dubliuojasi'

print (patikra2(updvsorg, orgvsupd))

IndentationError: unexpected indent (Temp/ipykernel_11004/2606455982.py, line 2)