In [38]:
import os
import pandas as pd

In [39]:
os.chdir('C:/My Documents/Mokymai ir kt info/Python/10_Final_Project')
os.getcwd()

'C:\\My Documents\\Mokymai ir kt info\\Python\\10_Final_Project'

# Main GIS Table

In [40]:
read_gis_file = pd.read_excel('GIS_DB/CS_GIS_DATA.xlsx')
read_gis_file.to_csv('GIS_DB/CS_GIS_DATA.csv', index = None, header = True)
df_gis = pd.read_csv('GIS_DB/CS_GIS_DATA.csv', parse_dates=['Start', 'Finish'])

In [41]:
df_gis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    datetime64[ns]
 3   Finish                  112 non-null    datetime64[ns]
 4   At Completion Duration  112 non-null    int64
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.2+ KB

In [42]:
df_gis.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA
2,A1330180,Name 3,2020-01-01,2020-01-01,433,CS6733,SCO.ROA
3,A1330190,Name 4,2020-01-01,2020-01-01,433,CS6672,SCO.ROA
4,A1330200,Name 5,2020-01-01,2020-01-01,433,CS6563,SCO.ROA

# Clean Weekly Data update table

In [65]:
read_gis_file_update = pd.read_excel('Input/CS_Update_01_11_2021.xlsx', sheet_name= 1)
read_gis_file_update.to_csv('Input/CS_Update_01_11_2021.csv', index = None, header = True)
df_gis_update = pd.read_csv('Input/CS_Update_01_11_2021.csv')

In [66]:
df_gis_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    object
 3   Finish                  112 non-null    object
 4   At Completion Duration  112 non-null    object
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: object(7)
memory usage: 6.2+ KB

In [67]:
df_gis_update.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,13-Sep-22,31-May-24,433d,CS6992,SCO.ROA
1,A1330170,Name 2,13-Sep-22 A,31-May-24,433d,CS6881,SCO.ROA
2,A1330180,Name 3,02-Dec-21,22-Aug-23,433d,CS6733,SCO.ROA
3,A1330190,Name 4,02-Dec-21,22-Aug-23,433d,CS6672,SCO.ROA
4,A1330200,Name 5,04-Jan-23,23-Sep-24,433d,CS6563,SCO.ROA

In [68]:
df_gis_update['Start'] = df_gis_update['Start'].str[:9]
df_gis_update['Finish'] = df_gis_update['Finish'].str[:9]
df_gis_update['At Completion Duration'] = df_gis_update['At Completion Duration'].str.replace('d','')

In [69]:
df_gis_update.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,13-Sep-22,31-May-24,433,CS6992,SCO.ROA
1,A1330170,Name 2,13-Sep-22,31-May-24,433,CS6881,SCO.ROA
2,A1330180,Name 3,02-Dec-21,22-Aug-23,433,CS6733,SCO.ROA
3,A1330190,Name 4,02-Dec-21,22-Aug-23,433,CS6672,SCO.ROA
4,A1330200,Name 5,04-Jan-23,23-Sep-24,433,CS6563,SCO.ROA

In [70]:
df_gis_update.to_csv('Input/CS_Update_01_11_2021.csv')

In [78]:
df_gis_update = pd.read_csv('Input/CS_Update_01_11_2021.csv', parse_dates=['Start', 'Finish'])
df_gis_update.head()

,Unnamed: 0,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA
2,2,A1330180,Name 3,2021-12-02,2023-08-22,433,CS6733,SCO.ROA
3,3,A1330190,Name 4,2021-12-02,2023-08-22,433,CS6672,SCO.ROA
4,4,A1330200,Name 5,2023-01-04,2024-09-23,433,CS6563,SCO.ROA

In [79]:
df_gis_update.drop('Unnamed: 0', axis='columns', inplace=True)
df_gis_update.head()

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA
2,A1330180,Name 3,2021-12-02,2023-08-22,433,CS6733,SCO.ROA
3,A1330190,Name 4,2021-12-02,2023-08-22,433,CS6672,SCO.ROA
4,A1330200,Name 5,2023-01-04,2024-09-23,433,CS6563,SCO.ROA

In [80]:
df_gis_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    datetime64[ns]
 3   Finish                  112 non-null    datetime64[ns]
 4   At Completion Duration  112 non-null    int64
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.2+ KB

# Compare CSV's

In [60]:
print(df_gis_update[~df_gis_update.Activity Name.isin(df_gis.Activity Name)])

SyntaxError: invalid syntax (Temp/ipykernel_11004/3635445937.py, line 1)

In [57]:
if len(df_gis_update) == len(df_gis):
    print (f'number of objects mathces in both tables and equals to {len(df_gis)}')
if len(df_gis_update) == len(df_gis):

number of objects mathces in both tables and equals to 112
112
112

In [52]:
print (patikra1)

<function patikra1 at 0x000002018E63D280>