# Lesson 05 HW

In [1]:
# 1. Parašykite funkciją, slaptažodžio generatorius, kuri priimtų int tipo kintamąjį ir grąžintų tokio ilgo slaptažodį
# iš mažųjų, didžiųjų raidžių, skaičių ir simbolių Panaudoti random.randint metodą arba random.choice()

import random
import string

def slaptazodzio_generatorius(number):
    galimas_pasirinkimas = string.ascii_letters + string.digits + string.punctuation
    slaptazodis =[]
    while number>0:
        number -=1
        slaptazodis.append((random.choice(galimas_pasirinkimas)))
    print (slaptazodis)
    print ((f'Sugeneruotas slaptazodis yra:'),(''.join(slaptazodis)))

In [209]:
slaptazodzio_generatorius(15)

['(', 'T', 'k', '4', ';', '"', '#', 'C', 'g', 'l', '~', '^', 's', '<', 'L']
Sugeneruotas slaptazodis yra: (Tk4;"#Cgl~^s<L

In [2]:
user_input = int(input("iveskite skaiciu"))
slaptazodzio_generatorius(user_input)

['%', ',', 'C', '\\', 'p', ',', 'R', 'c', 'Q', '.', 'm', 'q', 'd', '"', ')', '`', 'c', 'K', 's', 'U']
Sugeneruotas slaptazodis yra: %,C\p,RcQ.mqd")`cKsU

In [ ]:
# 2. Parašyti funkciją, kuri priima list ir sveiką skaičių k. Funkcija gražina didžiausią k kaimyninių narių sumą. Pvz:

def kaimynu_suma (list, k):
    suma = 0

In [203]:
# 3. Parašyti funkciją, kuri priima list ir sveiką skaičių k. Funkcija gražina sąrašą skaičių porų, tarp kurių skirtumas yra lygus įvestam
# skaičiui k. Jei tokių porų nėra, gražina False.

def skaiciu_skirtumas (list2, k2):
    sarasas = []
    x = None
    for sk1 in list2:
        for sk2 in list2:
            if (sk2-sk1) == k2:
                x = (sk1, sk2)
                sarasas.append(tuple(x))
    if sarasas:
        print (sarasas)
    else:
        print (False)

In [204]:
skaiciu_skirtumas([0,2,4,8], 4)
skaiciu_skirtumas([0,2,4,8], 2)
skaiciu_skirtumas([-2,0,2,4,8], 10)
skaiciu_skirtumas([-2,0,2,4,8], 11)

[(0, 4), (4, 8)]
[(0, 2), (2, 4)]
[(-2, 8)]
False

# Lesson 06 HW

In [3]:
print (os.getcwd())

c:\My Documents\Mokymai ir kt info\Python\20210930VCSPYTVAK

In [8]:
os.chdir('C:\\Users\\Vartotojas\\Desktop')
print (os.getcwd())

C:\Users\Vartotojas\Desktop

In [11]:
os.mkdir('PythonLesson06')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'PythonLesson06'

In [12]:
os.mkdir('PythonLesson06\\New')

In [31]:
os.chdir('C:\\Users\\Vartotojas\\Desktop')
os.getcwd()

'C:\\Users\\Vartotojas\\Desktop'

In [33]:
with open ('PythonLesson06\\New\\mano_tekstas.txt', 'r') as f:
    print (f.read())

Laba diena
Esu
Vaidas

In [40]:
import shutil

shutil.copyfile('C:/Users/Vartotojas/Desktop/PythonLesson06/New/mano_tekstas.txt', 'C:/Users/Vartotojas/Desktop/PythonLesson06/New/mano_tekstas_copy.txt')

'C:/Users/Vartotojas/Desktop/PythonLesson06/New/mano_tekstas_copy.txt'

In [41]:
os.getcwd()

'C:\\Users\\Vartotojas\\Desktop'

In [42]:
os.rename('PythonLesson06/New/mano_tekstas_copy.txt', 'PythonLesson06/New/mano_tekstas_copy_rename.txt')

In [44]:
os.getcwd()

'C:\\Users\\Vartotojas\\Desktop'

In [47]:
if os.path.isfile('PythonLesson06/New/mano_tekstas_copy_rename.txt') == True:
    os.remove('PythonLesson06/New/mano_tekstas_copy_rename.txt')
    print ('failas rastas ir istrintas')
else:
    print ('failas nerastas')

failas nerastas

In [54]:
os.getcwd()

'C:\\Users\\Vartotojas\\Desktop'

In [56]:
os.remove('PythonLesson06/New/mano_tekstas.txt')

In [58]:
shutil.rmtree('PythonLesson06')

In [64]:
import pandas as pd
import os

In [94]:
os.getcwd()
os.chdir('C:/My Documents/Mokymai ir kt info/Python/10_Final_Project/GIS_DB')
os.getcwd()

'C:\\My Documents\\Mokymai ir kt info\\Python\\10_Final_Project\\GIS_DB'

In [96]:
read_file = pd.read_excel('CS_GIS_DATA.xlsx')
read_file.to_csv('CS_GIS_DATA.csv', index = None, header = True)
df_gis = pd.read_csv('CS_GIS_DATA.csv')

In [100]:
df_gis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    object
 3   Finish                  112 non-null    object
 4   At Completion Duration  112 non-null    int64
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: int64(1), object(6)
memory usage: 6.2+ KB

In [90]:
df_gis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Activity ID            112 non-null    object
 1   Activity Name          112 non-null    object
 2   Start                  108 non-null    object
 3   Finish                 112 non-null    object
 4   At Completion uration  112 non-null    int64
 5   CS ID                  112 non-null    object
 6   Stages                 112 non-null    object
dtypes: int64(1), object(6)
memory usage: 6.2+ KB

In [91]:
df = pd.read_excel('CS_GIS_DATA.xlsx')

In [92]:
df

,Activity ID,Activity Name,Start,Finish,At Completion Duration,CS ID,Stages
0,A1330160,Name 1,2022-09-13,2024-05-31,433,CS6992,SCO.ROA
1,A1330170,Name 2,2022-09-13,2024-05-31,433,CS6881,SCO.ROA
2,A1330180,Name 3,2020-01-01,2020-01-01,433,CS6733,SCO.ROA
3,A1330190,Name 4,2020-01-01,2020-01-01,433,CS6672,SCO.ROA
4,A1330200,Name 5,2020-01-01,2020-01-01,433,CS6563,SCO.ROA
...,...,...,...,...,...,...,...
107,A1344470,Name 108,2026-11-25,2027-03-12,63,CS7011,SCO.TA.CIS
108,A1344480,Name 109,2027-03-15,2027-06-09,63,CS7210,SCO.TA.CIS
109,A1344490,Name 110,2027-06-10,2027-09-06,63,CS7412,SCO.TA.CIS
110,A1344500,Name 111,2020-01-01,2020-01-01,63,CS7612,SCO.TA.CIS
111,A1344510,Name 112,2027-12-06,2028-03-17,63,CS7810,SCO.TA.CIS

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Activity ID             112 non-null    object
 1   Activity Name           112 non-null    object
 2   Start                   108 non-null    datetime64[ns]
 3   Finish                  112 non-null    datetime64[ns]
 4   At Completion Duration  112 non-null    int64
 5   CS ID                   112 non-null    object
 6   Stages                  112 non-null    object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.2+ KB