# Lesson 01 - String

In [141]:
tekstas = "Labas vakaras, mano vardas Vaidas"
print (len(tekstas))
print (tekstas.find("vardas"))
print (tekstas[15])
print (tekstas.lower())
print (tekstas)

33
20
m
labas vakaras, mano vardas vaidas
Labas vakaras, mano vardas Vaidas

In [142]:
vardas = "Vaidas"
pavarde = 'Ulenskas'
print (f"mano vardas {vardas}, o pavarde {pavarde}")
print (vardas + " " + pavarde)

mano vardas Vaidas, o pavarde Ulenskas
Vaidas Ulenskas

In [143]:
tekstas = 'Python makes me really really happy'
print (tekstas.upper())
print (tekstas.replace("Python", "PyThOn"))

PYTHON MAKES ME REALLY REALLY HAPPY
PyThOn makes me really really happy

In [144]:
tekstas_2 = 'Hello World, I am happy to learn Python'
slice_txt = slice(18,23,1)
print (tekstas_2[slice_txt])
slice_txt2 = slice(24,26)
print (tekstas_2[slice_txt2])
print (len(tekstas_2))
print (tekstas_2[18:23])
word_to_find = 'happy'
print (tekstas_2[tekstas_2.index(word_to_find):tekstas_2.index(word_to_find)+len(word_to_find)])

happy
to
39
happy
happy

# Lesson 01 - integer

In [145]:
pirmas = 2
antras = 3
print (pirmas + antras)
print (pirmas - antras)
print (pirmas * antras)
print (pirmas / antras)
print (pirmas % antras)
print (19 % 5)

5
-1
6
0.6666666666666666
2
4

In [146]:
print (5.15 + 2.77)
print (5.15 - 2.77)
print (5.15 * 2.77)
print (5.15 / 2.77)

7.92
2.3800000000000003
14.265500000000001
1.8592057761732854

In [147]:
menulis = 384000
saule = 150000000
atstumas_1 = saule / menulis
print (f'atstumu skirtumas yra {atstumas_1}')

atstumu skirtumas yra 390.625

In [148]:
import datetime
greitis = 150 #km/h
print (f'iki menulio vaziuodami {greitis} km/h nuvaziuotume per {menulis/greitis} valandas')

iki menulio vaziuodami 150 km/h nuvaziuotume per 2560.0 valandas

In [149]:
gimimo_data = datetime.date(1986, 11, 26)
dabar = datetime.date(2021,10,10)
print (dabar - gimimo_data)

12737 days, 0:00:00

# lesson 01 - Boolean

In [150]:
tr1 = 5>3
tr2 = 'a' == 'b'
tr3 = 5 !=5
print(tr1)
print(tr2)
print(tr3)
print (bool(0))

True
False
False
False

# lesson 02 - List

In [151]:
sarasas_1 = ['Vaidas', 'Tomas', 'Ieva', 'Tomas']
print (len(sarasas_1))
print (sarasas_1[2])
print (sarasas_1.count('Tomas'))
print (sarasas_1)
print ('Jonas' in sarasas_1)

4
Ieva
2
['Vaidas', 'Tomas', 'Ieva', 'Tomas']
False

In [152]:
print (len(sarasas_1))
sarasas_1.append('Mykolas')
print (sarasas_1)

4
['Vaidas', 'Tomas', 'Ieva', 'Tomas', 'Mykolas']

In [153]:
print ('Mykolas' in sarasas_1)

True

In [164]:
sarasas = [1, 2, 3, 4]
print (sarasas_1)
print (sarasas)

['Vaidas', 'Tomas', 'Ieva', 'Tomas', 'Mykolas']
[1, 2, 3, 4]

In [165]:
sarasas_3 = sarasas_1 + sarasas
print (sarasas_3)

['Vaidas', 'Tomas', 'Ieva', 'Tomas', 'Mykolas', 1, 2, 3, 4]

In [166]:
sarasas_3.pop()

4

In [179]:
print (sarasas_1)
print (sarasas_3)
print (sarasas_3.count('Tomas'))
print (sarasas_1.sort())
print (sarasas_3[1::2])

['Ieva', 'Mykolas', 'Tomas', 'Tomas', 'Vaidas']
['Ieva', 'Mykolas', 'Tomas', 'Tomas', 'Vaidas', 1, 2, 3]
2
None
['Mykolas', 'Tomas', 1, 3]

# lesson 02 - Tuple

In [188]:
tuple_1 = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (tuple_1)
print (tuple_1[-1][-1][-1])
print (tuple_1.index(['3', 4, 5]))

(1, 2, ['3', 4, 5], [6, [7, 8]])
8
2

In [191]:
tuple_2 = (11, [222, 33], 44, 55)
print (tuple_2)

(11, [222, 33], 44, 55)

In [202]:
tmp = list(tuple_2)
print (tmp)
tmp[1] = [222, 22]
print (tmp)
tuple_2 = tuple(tmp)
print (tuple_2)

[11, [222, 22], 44, 55]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [205]:
tuple_3 = (11, [222, 33], 44, 55)
tuple_3[1][1] = 22
print (tuple_3)

(11, [222, 22], 44, 55)

# lesson 02 - Range

In [213]:
print(tuple(range(1,10)))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [215]:
for zodis in range(10):
    print (zodis)

0
1
2
3
4
5
6
7
8
9

# lesson 02 - For loop

In [216]:
for skaicius in range(10):
    print (skaicius)

0
1
2
3
4
5
6
7
8
9

In [223]:
sk = int(input("Enter the number"))
for skt in range(11):
    print (sk * skt)

0
2
4
6
8
10
12
14
16
18
20

In [225]:
print (sum(range(5)))

10

In [234]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
print (dienos)
print (valandos)

kombinacijos = []
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena, valanda))
print (kombinacijos)

['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

# lesson 03 - If

In [238]:
for sk20 in range(21):
    if sk20 % 3 == 0:
        print (sk20)

0
3
6
9
12
15
18

In [246]:
suma50 = 0
for sk50 in range (51):
    if (suma50 + sk50) % 2 == 0:
          suma50 += sk50 
print (suma50)

650

In [248]:
psk = int(input("Jusu skaicius"))
for psk10 in range(0,11):
    if (psk ** 2) % 2 != 0:
        print (psk * psk10)

0
1
2
3
4
5
6
7
8
9
10

In [261]:
print (dienos)
print (valandos)

['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [266]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos2 = []

leidziamos_dienos = ['Pirmadienis', 'Treciadienis']
leidziamos_valandos = [12, 13, 14, 15, 16, 17]
for diena in dienos:
    for valanda in valandos:
        if diena in leidziamos_dienos and valanda in leidziamos_valandos:
            kombinacijos2.append((diena, valanda))
print (kombinacijos2)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

# lesson 03 - list comprehensions

In [270]:
kombinacijos2 = [(diena, valanda) for diena in dienos for valanda in valandos if diena in leidziamos_dienos and valanda in leidziamos_valandos]
print (kombinacijos2)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

# Lesson 03 - Dictionary

In [1]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

In [2]:
print (car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [7]:
print(car['brand'])
print (len(car))
car['year'] = 2020
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [11]:
car['color'] = 'red'
car['used'] = True
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': True}

In [13]:
print (car)
car.pop('brand')
car['year'] = None
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

# Lesson 03 - Set

In [23]:
fruits ={"apple", 'banana', 'cherry'}
fruits.add(('nauja_reiksme', 5))
print (fruits)

{'apple', 'banana', ('nauja_reiksme', 5), 'cherry'}

In [26]:
fruits ={"apple", 'banana', 'cherry'}
print (fruits)
fruits.discard('apple')
fruits.add("watermelon")
print (fruits)

{'apple', 'banana', 'cherry'}
{'banana', 'watermelon', 'cherry'}

In [31]:
fruits ={"apple", 'banana', 'cherry'}
print (fruits)
fruits.add('watermelon')
print (fruits)
fruits.update(['grape', 'melon', 'cytrus', 'blueberry', 'strawberry'])
print (fruits)
print (len(fruits))
fruits.add('watermelon')
print (fruits)

{'apple', 'banana', 'cherry'}
{'apple', 'banana', 'watermelon', 'cherry'}
{'cytrus', 'watermelon', 'cherry', 'strawberry', 'melon', 'blueberry', 'grape', 'banana', 'apple'}
9
{'cytrus', 'watermelon', 'cherry', 'strawberry', 'melon', 'blueberry', 'grape', 'banana', 'apple'}

In [32]:
my_list = [3, 6, -2, -5, 7, 3]
print (my_list)

[3, 6, -2, -5, 7, 3]

In [40]:
sandauga = my_list[0] * my_list[1]
for idx in range(1, len(my_list)-1):
    if my_list[idx] * my_list[idx + 1] > sandauga:
        sandauga = my_list[idx] * my_list[idx + 1]
print (sandauga)

21

In [46]:
words = ['bob', 'savas', 'kompiuteris', 'car', 'song', 'watermelon', 'mouse', 'box', 'cup', 'chocolate']
print (words)

['bob', 'savas', 'kompiuteris', 'car', 'song', 'watermelon', 'mouse', 'box', 'cup', 'chocolate']

In [49]:
count = 0
for word in words:
    if len(word) > 10:
        count += 1
        print (word)
print (count)

kompiuteris
1

In [70]:
print (max(words, key=len))
print (min(words, key=len))

kompiuteris
bob

In [77]:
words = ['bob', 'savas', 'kompiuteris', 'car', 'song', 'watermelon', 'mouse', 'box', 'cup', 'chocolate']
polindromas = []
for word in words:
    if word == word[::-1]:
        print (word)
        polindromas.append(word)
print (polindromas)

bob
savas
['bob', 'savas']

In [3]:
txt2 = "pw:\\railbaltica-pw.bentley.com:railbaltica-pw-01\Documents\Rail Baltica\Lithuania\LT_Territorial_Planning_SC\02_LTGI\03_Deliverables\02_Kaunas_Node_SP\2021.09.28 - VXE016 RB KNS mazgas - A1-A4 alt\"

print (txt2)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_14852/3529259968.py, line 1)

# Lesson 04 - Functions

In [14]:
def du_skaiciai(x, y):
    if (x + y) % 2 == 0:
        return x * y
    else:
        return x/y

In [40]:
print (du_skaiciai (10, 5))

2.0

In [59]:
def pass_funcion ():
    print ("labas")

In [60]:
new_funcion_name = pass_funcion

In [62]:
new_funcion_name()

labas

In [76]:
def my_funcion_2(*args):
    result_dict = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0}
    for number in args:
        for key_numbers in result_dict.keys():
            if number % key_numbers ==0:
                result_dict[key_numbers] +=1
    return (result_dict)

In [77]:
print (my_funcion_2(1,2,65,30))

{1: 4, 2: 2, 3: 1, 4: 0, 5: 2, 6: 1, 7: 0, 8: 0, 9: 0, 10: 1}

In [118]:
def function_exercise(list1, list2):
    suma1 = 0
    suma2 = 0
    for sk1 in list1:
        if sk1 >= 10:
            suma1 += sk1
    for sk2 in list2:
        if sk2>=10:
            suma2 += sk2
    return suma1 * suma2

In [119]:
print (function_exercise([10,9,6,16,15,55,2,7],[20,642,33,76,9,7,2]))

74016

In [137]:
def function_exercise_2(list1, list2):
    list1 = [sk1 for sk1 in list1 if sk1 >= 10]
    print (list1)
    list2 = [sk2 for sk2 in list2 if abs(sk2) >= 10]
    print (list2)
    return sum(list1) * sum(list2)

In [139]:
print (function_exercise_2([10,9,6,16,15,55,2,7],[20,642,33,76,9,7,2]))

[10, 16, 15, 55]
[20, 642, 33, 76]
74016

In [131]:
def function_exercise_3(list1, list2):
    suma1 = []
    suma2 = []
    for sk1 in list1:
        if sk1 >= 10:
            suma1.append(sk1)
    print (suma1)
    for sk2 in list2:
        if sk2>=10:
            suma2.append(sk2)
    print(suma2)
    return sum(suma1) * sum(suma2)

In [132]:
print (function_exercise_3([10,9,6,16,15,55,2,7],[20,642,33,76,9,7,2]))

[10, 16, 15, 55]
[20, 642, 33, 76]
74016

# Lesson 05 - Functions